#root {
    /* max-width: 420px; */
    max-width: 26.25rem;
    /* display: flex;
    flex-direction: column; */
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
    /* background-color: white; */
    min-height: 100svh;
}
