@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Jost, sans-serif;
    line-height: 1.35;
    font-weight: 400;
    --monrope: "Manrope";
    /* font-size: 14px; */
    /* font-size: 24px; */
    /* font-size: 32px; */
    /* zoom: 2; */
    user-select: none;

    /* color-scheme: light dark; */
    /* color: rgba(255, 255, 255, 0.87); */
    background-color: #9d174d;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* 
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */

input[type="radio"] {
    accent-color: #db2777;
    border-color: #94a3b8;
    border-width: 1px;
}

body,
html {
    overflow: hidden;
    height: 100dvh;
}
